$height: 20px;
$width: 20px;

@import 'datepicker';


.datepickerContainer {
  padding: 5px;
  border: 1px solid #000;
}
//
//.datepicker a{
//  color: inherit;
//}
//.datepickerWeek a,
//.datepickerDays a {
//  cursor: default;
//}
